Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
click
duckdb
idna
mkl-service==2.5.2
mkl_fft
mkl_random
numexpr
numpy
pandas
pycparser
PySocks
python-dateutil
python-dotenv
pytz
PyYAML==6.0.3
requests @ file:///home/task_176235918788486/conda-bld/requests_1762359591632/work
setuptools==80.9.0
six @ file:///croot/six_1744271502820/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///croot/urllib3_1750775463400/work
wheel==0.45.1
