Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
click
duckdb
idna
mkl-service==2.5.2
mkl_fft
mkl_random
numexpr
numpy
openai>=1.0.0
fastapi
fastmcp
uvicorn
pandas
pycparser
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
requests
setuptools
six
tzdata
urllib3
wheel
